<form method="POST" action="/">
ID<input type="integer" name="id" />
  <br>
  Name <input type="text" name="name" />
  <br>
 Age <input type="integer" name="age" />
  <br>
Department <input type="text" name="dep" />
  <br>
Subject<input type="text" name="sub" />
  <br>
  Add user <input type="submit" name="submit">
</form>

<form method="POST" action="">

ID<input type="integer" name="id" />
  <br>
  Name <input type="text" name="name" />
  <br>
 Age <input type="integer" name="age" />
  <br>
Department <input type="text" name="dep" />
  <br>
Subject<input type="text" name="sub" />
  <br>
  update user <input type="submit" name="update">
</form>

<form method="POST" action="">
  ID <input type="integer" name="id" />
  <br>
 
  Delete user <input type="submit" name="delete">
</form>
